* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   width: 100%;
   display: flex;

}

.sidebar {
   width: 20%;
   background-color: bisque;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.logo {
   background-color: bisque;
   height: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.collection {
   flex: 1;
   background-color: bisque;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 20px;
   border: 2px solid black;
}

li {

   list-style: none;
}



a {
   color: black;
   text-decoration: none;
   display: flex;
   align-items: center;

   width: 100%;
   height: 60px;
   padding: 20px;

}

a:hover {
   background-color: beige;
   border: 2px solid black;
}

a:hover i {
   margin-left: 10px;
}


a>div {
   /* border: 5px solid red; */
   margin-left: 20px;

}

a:hover div {
   margin-left: 30px;
}

a>div>p {
   display: none;
}

a:hover div>p {
   display: block;
}

.footer {
   width: 100%;
   height: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: bisque;
   border: 2px solid black;
}

.footer>button {
   padding: 10px 80px;
   border-radius: 20px;
   font-size: 16px;
   border: none;
   background-color: beige;
   border: 2px solid black;
   color: black;
}

main {
   width: 80%;
   height: 100%;
   background-color:bisque;
   border: 2px solid black;
   overflow-y: scroll;
}

.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
}

.box {
   background-color: bisque;
   border: 2px solid black;
   width: 250px;
   height: 250px;
   border-radius: 10px;

}